<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cost of Higher Education</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/stylesheet.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Cost of Higher Education</h1>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- insert leaflet map here -->
                <div id="map"></div>
            </div>
            <div class="row">
                <div class="col-3 col-md-12">
                    <!-- insert demographic info chart.js here  -->
                </div>
                <div class="col-3 col-md-12">
                    <!-- insert cost plotly here  -->
                    <!-- rename files to match -->
                    <div id="plot"></div>
                    <script src="static/js/plots.js"></script>
                </div>
            </div>
        </div>
    </div>


    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Mapbox API key -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <!-- Our Project 2 Javascript -->
    <script src="static/js/logic.js"></script>

</body>

</html>